@model DAMS.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<div>
    <h1><a href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left" style="color: #020203;"></i></a> Current Order Details</h1>
    <hr />
    <div style="width: 30%;padding: 10px;margin-bottom: 10px;">
        <label style="font-size: 2em;"><b>Patient's Details</b></label>
        <pre>
<span style="font-size: 1.5em;"><b>@Html.Raw("Name: ")</b>@ViewBag.Data.First_Name @ViewBag.Data.Last_Name</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Gender(Age+): ")</b>@ViewBag.Data.Gender (@ViewBag.Data.Age+)</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Contact: ")</b>@ViewBag.Data.Contact</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Email: ")</b>@ViewBag.Data.Email</span>
        </pre>
    </div>
    <div style="width: 30%;padding: 10px;">
        <label style="font-size: 2em;"><b>Medicine Details</b></label>
        <pre>
<span style="font-size: 1.5em;"><b>@Html.Raw("Name: ")</b>@ViewBag.Medicine.Medicine_Name</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Description: ")</b>@ViewBag.Medicine.Medicine_Description</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Category: ")</b>@ViewBag.Medicine.Category</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Weightage: ")</b>@ViewBag.Medicine.Medicine_Weightage g</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Price Per Piece: ")</b>@ViewBag.Sell.Medicine_Price Pkr</span>
        </pre>
    </div>
    <div style="width: 30%;padding: 10px;margin-left: 30.75%;margin-top: -503px;">
        <label style="font-size: 2em;"><b>Seller's Details</b></label>
        <pre>
<span style="font-size: 1.5em;"><b>@Html.Raw("Name: ")</b>@ViewBag.Seller.First_Name @ViewBag.Seller.Last_Name</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Gender(Age+): ")</b>@ViewBag.Seller.Gender (@ViewBag.Seller.Age+)</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Contact: ")</b>@ViewBag.Seller.Contact</span>
<span style="font-size: 1.5em;"><b>@Html.Raw("Email: ")</b>@ViewBag.Seller.Email</span>
        </pre>
    </div>
</div>