@model DAMS.Models.Purchase

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Purchase</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Selling_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Selling_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Requested_Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Requested_Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Request_Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Request_Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Delivery_Time)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivery_Time)
        </dd>
    </dl>
</div>