@model IEnumerable<DAMS.Models.Purchase>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Selling_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patient_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Requested_Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Request_Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delivery_Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@if (ViewBag.Choice == "Patient")
{
    @foreach (var item in Model) 
    {
        if (item.Patient_ID == ViewBag.Data.User_ID && item.Request_Status != "Done")
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Selling_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requested_Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Request_Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Delivery_Time)
                </td>
                <td>
                    <a asp-action="Details" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-id="@item.Purchase_ID">Details</a> 
                    @if (item.Request_Status == "Pending")
                    {
                        <a asp-action="Delete" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-id="@item.Purchase_ID">Cancel</a>
                    }
                </td>
            </tr>
        }
    }
}
else if(ViewBag.Choice == "Doctor")
{
    @foreach (var item in Model) 
    {
        foreach (var Sell in ViewBag.Sell)
        {
            if (item.Selling_ID == Sell.Selling_ID && Sell.Seller_ID == ViewBag.Data.User_ID && item.Request_Status != "Done")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Selling_ID) @Html.Raw(Sell.Selling_ID) @Html.Raw(Sell.Seller_ID) @Html.Raw(ViewBag.Data.User_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Patient_ID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Requested_Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Request_Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Delivery_Time)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-id="@item.Purchase_ID">Details</a> |
                        @if (item.Request_Status == "Pending")
                        {
                            <a asp-action="Edit" asp-route-Status="Accepted" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-id="@item.Purchase_ID">Accept</a>
                        }
                        else if (item.Request_Status == "Accepted")
                        {
                            <a asp-action="Edit" asp-route-Status="Done" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-id="@item.Purchase_ID">Mark As Done</a>
                        }
                    </td>
                </tr>
            }
        }
    }
}
    </tbody>
</table>
