@model IEnumerable<DAMS.Models.User>
@{
    ViewData["Title"] = "Appointment";
}
@foreach (var Data_01 in ViewBag.Driver)
{
    @foreach (var Data_02 in Model)
    {
        if (Data_01.User_ID == Data_02.User_ID)
        {
            <div class="display border border-radius width-1 Gap-Bottom" style="overflow: hidden">
            <pre>
            <h3 class="Gap-Left-4 Gap-Top-1"><b>Driver's Details</b></h3>
            <span class="font-size"><b>@Html.Raw("Name:")</b> @Html.DisplayFor(model => Data_02.First_Name) @Html.DisplayFor(model => Data_02.Last_Name)</span>
            <span class="font-size"><b>@Html.Raw("Gender:")</b> @Html.DisplayFor(model => Data_02.Gender)</span>
            <span class="font-size"><b>@Html.Raw("Age:")</b> @Html.DisplayFor(model => Data_02.Age)</span>
            </pre>
            <pre>
            <h3 class="Gap-Left-4 Gap-Top-1"><b>Car Details</b></h3>
            <span class="font-size"><b>@Html.Raw("Vehicle Name:")</b> @Html.Raw(Data_01.Vehicle_Name)</span>
            <span class="font-size"><b>@Html.Raw("Category:")</b> @Html.Raw(Data_01.Vehicle_Category)</span>
            <span class="font-size"><b>@Html.Raw("Liscence Plate:")</b> @Html.Raw(Data_01.Number_Plate)</span>
            </pre>
            @using (Html.BeginForm("Get_Ride_ID", "Users", FormMethod.Post))
            {
                <input type="hidden" name="User_ID" value="@ViewBag.Data.User_ID" />
                <input type="hidden" name="Driver_ID" value="@Data_01.Driver_ID" />
                <input type="hidden" name="Doctor_ID" value="@ViewBag.Doctor_ID" />
                <input type="hidden" name="Appointment_ID" value="@ViewBag.Appointment_ID" />
                <input type="submit" value="Select" class="btn btn-primary Gap-Top-2 Gap-Left-5" />
            }
            </div>
        }
    }
}