@page
@{
    Layout = "_Layout";
}

@if (TempData["SM_02"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_02"]
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_03"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_03"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_04"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_04"]
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_05"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_05"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_06"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_06"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_07"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_07"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_08"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_08"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_09"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_09"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_10"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_10"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_11"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_11"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_12"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_12"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_13"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_13"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_14"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_14"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_15"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_15"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["DM_02"] != null)

{
    <div class="alert alert-danger" id="popup">
        @TempData["DM_02"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}