@page
@{
    Layout = "_Layout";
}

@if (TempData["SM_02"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_02"]
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_03"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_03"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_04"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_04"]
    </div>
    <script>
        setTimeout(function() {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_05"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_05"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}
@if (TempData["SM_06"] != null)

{
    <div class="alert alert-success" id="popup">
        @TempData["SM_06"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}