@model DAMS.Models.Appointment

@{
    ViewData["Title"] = "Delete";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<h3><a href="javascript:void(0);" onclick="window.history.back();"><i class="fa-solid fa-arrow-left" style="color: #020203;"></i></a> Are you sure you want to cancel this reservation?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.Raw("Patient's Name")
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.User.First_Name @ViewBag.User.Last_Name
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Doctor's Name")
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.Doctor.First_Name @ViewBag.Doctor.Last_Name
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Appointment Date")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.Raw("Appointment Time")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment_Time)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Appointment_ID" />
        <input type="submit" value="Cancel Reservation" class="btn btn-danger" />
    </form>
</div>
