@model IEnumerable<DAMS.Models.Appointment>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Doctor_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Appointment_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) 
{
    if (item.Doctor_ID == ViewBag.Doctor.Doctor_ID && item.Appointment_Status != "Done")
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Patient_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Doctor_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment_Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment_Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Appointment_Status)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Appointment_ID" asp-route-User_ID="@ViewBag.Data.User_ID">Details</a>
                @if (item.Appointment_Status == "Pending")
                {
                    <a  class="btn btn-success" asp-action="Edit" asp-route-id="@item.Appointment_ID" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-Choice="Accept">Accept</a>
                }
                else if (item.Appointment_Status == "Accepted")
                {
                    <a  class="btn btn-success" asp-action="Edit" asp-route-id="@item.Appointment_ID" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-Choice="Mark_As_Done">Mark as Done</a>
                }
            </td>
        </tr>
    }
}
    </tbody>
</table>
