@model IEnumerable<DAMS.Models.Ride>

@{
    ViewData["Title"] = "Index";
}

<h2>Your are currently viewing your current pending/accepted rides.</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pickup_Time)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pickup_Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ride_Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Driver_ID == ViewBag.Driver.Driver_ID && item.Ride_Status != "Done")
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pickup_Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pickup_Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ride_Status)
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Ride_ID" asp-route-User_ID="@ViewBag.Data.User_ID" class="btn btn-primary">Details</a>
                        @if (item.Ride_Status == "Pending")
                        {
                            <a asp-action="Edit" asp-route-id="@item.Ride_ID" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-Choice="Accept" class="btn btn-success">Accept</a>
                        }
                        else if (item.Ride_Status == "Accepted")
                        {
                            <a asp-action="Edit" asp-route-id="@item.Ride_ID" asp-route-User_ID="@ViewBag.Data.User_ID" asp-route-Choice="Mark_As_Done" class="btn btn-success">Mark as Done</a>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
