@model IEnumerable<DAMS.Models.Medicine>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medicine_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine_Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicine_Weightage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine_Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicine_Weightage)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Medicine_ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Medicine_ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Medicine_ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
