@if (TempData["DM_03"] != null)

{
    <div class="alert alert-danger" id="popup">
        @TempData["DM_03"]
    </div>
    <script>
        setTimeout(function () {
            document.getElementById('popup').style.display = 'none';
        }, 3000);
    </script>
}

@model DAMS.Models.Sell

<div style="display: flex; flex-direction: column; justify-content: flex-start; align-items: center; min-height: 100vh;">
    <h1 style="margin-bottom: 20px;">Search Your Desired Medicine</h1>
    <div style="border: 2px solid #ccc;border-radius: 20px; padding: 20px; width: 80%; max-width: 400px;">
        <form asp-action="Search_01">
            <br>
            <div class="form-group" style="display: flex; justify-content: space-between;">
                <input name="User_ID" value="@ViewBag.Data.User_ID" hidden />
                <select name="Medicine_Name" class="form-control" style="width: 50%; margin-right: 10px;" required>
                    <option value="">Medicine_Name</option>
                    @foreach (var Data in ViewBag.Medicine_Name)
                    {
                            <option value="@Data">@Data</option>
                    }
                </select>
                <select name="Departure" class="form-control" style="width: 50%;" required>
                    <option value="">Medicine_Weightage</option>
                    @foreach (var Data in ViewBag.Medicine_Weightage)
                    {
                        <option value="@Data">@Data</option>
                    }
                </select>
            </div>
            <br>
            <div class="form-group" style="display: flex; justify-content: center;">
                <input type="submit" value="Search" class="btn btn-primary" style="margin-right: 15px;" />
                <input type="reset" value="Reset" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
